doctype 5
html(lang="en")
  head
    script(type="text/javascript", src="/js/lib/require.js", data-main="/js/app.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/lib/bootstrap.css", rel="stylesheet", media="screen")
    link(href="css/styles.css", rel="stylesheet", media="screen")
    title N-Back Training
  body
    .container
        .row
            .col-lg-12
                h1 N-Back Learning
        .row
            .col-lg-12
                #content
