btn-pseudo-states(color, background, border)
    color color
    background-color background
    border-color border

    &:hover
    &:focus
    &:active
    &.active
        background-color rgba(0,0,0,0.7)
        border-color rgba(0,0,0,0)

    &.disabled
    &[disabled]
    fieldset[disabled] &
        &
        &:hover
        &:focus
        &:active
        &.active
            background-color background
            border-color border


// Transitions
transition()
    -webkit-transition arguments
    transition arguments

body
    background url("../img/16_iii_export.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover

.container
    text-align center

h1
h2
.current-element
    color #fff
    word-wrap break-word

.current-element

    font-size 280px
    height 400px
    line-height 400px

    img
        vertical-align top

    &.words
        font-size 200px

.btn-transparent
    btn-pseudo-states(#fff, rgba(0,0,0,0.6), rgba(0,0,0,0))

.row
    margin-top 10px

.reset
    margin-top 0
    margin-bottom 10px

.row:last-child
    margin-bottom 20px

.instructions
    background-color rgba(0,0,0,0.4)
    border-radius 6px
    color #fff
    height 100%
    padding 10px

    &.lead
        margin-bottom 0

p:last-child
    margin-bottom 0px

#intro
    display none

.sequence
    transition background-color 0.2s ease
    background-color rgba(0,0,0,0.4)
    border-radius 6px

    .col-lg-12
        overflow hidden

    &.empty
        background-color rgba(0,0,0,0)