body
    background url("../img/arena_export.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover

.container
    text-align center

h1
    color #fff